{% extends 'admin_skeleton.html' %}


{% block title %}
Замовлення
{% endblock title %}

{% block flashing %}
<div class="row">
  <div class="col-md-9 mx-auto text-center">

    {% with messages=get_flashed_messages(with_categories=true) %}
      {% if messages %}
        {% for category, message in messages %}
          <div class="alert alert-{{ category }}">
            {{ message }}
          </div>
        {% endfor %}
      {% endif %}
    {% endwith %}
  </div>
</div>
{% endblock flashing %}

{% block content %}

<!-- Button trigger modal -->


<div class="col-md-9 mx-auto">
<div class="card ">
  <div class="card-header text-center font-weight-bold">Замовлення</div>
  {% if form %}
  <div class="card-body pb-0 pt-1">

    <form method="POST" action="">
    {{ form.hidden_tag() }}
        <div class="form-row">
          <div class="form-group col-md-6">
              {{ form.first_name.label(class="col-form-label-sm admin-label") }}
              {{ form.first_name(class="form-control form-control-admin") }}
          </div>
          <div class="form-group col-md-6">
              {{ form.last_name.label(class="col-form-label-sm admin-label") }}
              {{ form.last_name(class="form-control form-control-admin") }}
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
              {{ form.phone.label(class="col-form-label-sm admin-label") }}
              {{ form.phone(class="form-control form-control-admin") }}
          </div>
          <div class="form-group col-md-6">
              {{ form.email.label(class="col-form-label-sm admin-label") }}
              {{ form.email(class="form-control form-control-admin") }}
          </div>
        </div>
        <div class="form-row">
          <div class="form-group  col-md-6">
              {{ form.vin_code.label(class="col-form-label-sm admin-label") }}
              {{ form.vin_code(class="form-control form-control-admin") }}
          </div>
          <div class="form-group  col-md-6">
              {{ form.address.label(class="col-form-label-sm admin-label") }}
              {{ form.address(class="form-control form-control-admin") }}
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
              {{ form.car_model.label(class="col-form-label-sm admin-label") }}
              {{ form.car_model(class="form-control form-control-admin") }}
          </div>
          <div class="form-group col-md-6">
              {{ form.car_parts.label(class="col-form-label-sm admin-label") }}
              {{ form.car_parts(class="form-control form-control-admin") }}
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
              {{ form.user_comment.label(class="col-form-label-sm admin-label") }}
              {{ form.user_comment(class="form-control form-control-admin ") }}
          </div>
          <div class="form-group col-md-6">
              {{ form.admin_comment.label(class="col-form-label-sm admin-label") }}
              {{ form.admin_comment(class="form-control form-control-admin ") }}
          </div>
        </div>


    </div>
    <div class="card-footer text-right">
      <a href="{{ url_for('order', order_id=order.id) }}" role="button" class="btn btn-outline-secondary btn-sm">Скасувати зміни</a>
      {{ form.submit(class="btn btn-sm btn-outline-info") }}
      </form>
    </div>

    </div>

    {% else %}

    <div class="card-body ">
    <table class="table table-sm ">
      <tbody>
        {% if order.is_completed %}
        <tr class="table-success">
          <th scope="row" style="width: 25%">Статус:</th>
          <td  style="width: 25%">Виконане</td>
          <th scope="row"  style="width: 25%">Дата замовлення:</th>
          <td  style="width: 25%">{{ order.date_posted.date() }}</td>
        </tr>
        {% else %}
        <tr class="table-warning">
          <th scope="row"  style="width: 25%">Статус замовлення:</th>
          <td  style="width: 25%">В процесі</td>
          <th scope="row"   style="width: 25%">Дата замовлення:</th>
          <td  style="width: 25%">{{ order.date_posted.date() }}</td>
        </tr>
        {% endif %}
        <tr>
          <th scope="row">Ім"я клієнта:</th>
          <td>{{ order.first_name }} {{ order.last_name }}</td>
          <th scope="row">Телефон клієнта:</th>
          <td>{{ order.phone }}</td>
        </tr>
        <tr>
          <th scope="row">Електронна пошта:</th>
          <td>{{ order.email }}</td>
          <th scope="row">VIN-код машини:</th>
          <td>{{ order.vin_code }}</td>
        </tr>
        <tr>
          <th scope="row">Адрес клієнта:</th>
          <td>{{ order.address }}</td>
          <th scope="row">Марка машини:</th>
          <td>{{ order.car_model }}</td>
        </tr>
        </tbody>
      </table>
      <table class="table table-sm">
        <tbody>
          <tr>
            <th scope="row"  style="width: 25%">Необхідні запчастини:</th>
            <td>{{ order.car_parts }}</td>
          </tr>
          <tr>
            <th scope="row"  style="width: 25%">Коментарі клієнта:</th>
            <td>{{ order.user_comment }}</td>
          </tr>
          <tr>
            <th scope="row"  style="width: 25%">Коментарі адмін.:</th>
            <td>
                {{ order.admin_comment }}

            </td>
          </tr>
        </tbody>

      </table>
      </div>
          <div class="card-footer text-right">
          <tr class="table-default">
            <th>
            </th>
            <td class="float-right ">
              <a role="button" href="{{ url_for('admin')}}" class="btn btn-outline-secondary btn-sm ">Повернутись назад</a>
              {% if order.is_completed %}
              <a role="button" href="{{ url_for('mark_undone', order_id=order.id)}}" class="btn btn-outline-warning btn-sm ">Позначити як невиконане</a>
              {% endif %}
              {% if not order.is_completed %}
              <a role="button" href="{{ url_for('mark_done', order_id=order.id)}}" class="btn btn-outline-success btn-sm ">Позначити як виконане</a>
              {% endif %}
              <a role="button" href="{{ url_for('update_order', order_id=order.id)}}" class="btn btn-outline-primary btn-sm ">Редагувати</a>
              <a role="button" href="#" class="btn btn-outline-danger btn-sm" data-toggle="modal" data-target="#deleteModal">Видалити</a>

            </td>
          </tr>
          </div>

{% endif %}



<!-- </div> -->
</div>



<!-- Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteModalLabel">Видалити замовлення?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Ви справді хочете видалити замовлення?</p>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Скасувати</button>
        <form action="{{ url_for('delete_order', order_id=order.id) }}" method="POST">
          <input class="btn btn-danger" type="submit" value="Видалити">
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock content %}
